<extend name="Common:layout-admin"/>

<block name="content">
  <!-- content-header start -->
  <section class="content-header">
    <h1>《{$course.title}》文件管理<small></small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="{:U('Admin/Index/index')}"><i class="fa fa-home"></i> 后台首页</a></li>
      <li><a href="{:U('Admin/Course/index')}"><i class="fa fa-graduation-cap"></i> 查看课程</a></li>
      <li class="active"><i class="fa fa-golbe"></i> 文件管理</li>
    </ol>
  </section>
  <!-- content-header end -->
  <section class="content">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">文件列表</h3>
        <div class="pull-right">

          <a class="btn btn-warning btn-sm" href="{:U('Admin/CourseLesson/index', array('course_id' => $course['id']))}">
            <i class="fa fa-file-video-o"></i>&nbsp;&nbsp;课时管理
          </a>

          <a class="btn btn-warning btn-sm" href="{:U('Admin/CourseMaterial/uploadModal', array('course_id' => $course['id']))}">
            <i class="fa fa-user"></i>&nbsp;&nbsp;学员管理
          </a>

        </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <table class="table table-bordered table-hover v-center">
          <tbody><tr>
            <th class="text-center">
              <input id="checkall" type="checkbox" />
            </th>
            <th class="text-center">ID</th>
            <th class="text-center">文件名称</th>
            <th class="text-center">文件类型</th>
            <th class="text-center hidden-xs">文件大小</th>
            <th class="text-center hidden-xs">URI</th>
            <th class="text-center hidden-xs">创建时间</th>
            <th class="text-center">操作</th>
          </tr>
          <volist name="data" id="vo">
          <tr>
            <td class="text-center">
              <input name="check" type="checkbox" value="{$vo.id}"/>
            </td>
            <td class="text-right">{$vo.id}</td>
            <td>{$vo.title}</td>
            <td class="text-center">{$vo.ext}</td>
            <td class="text-center hidden-xs">{$vo.size|format_bytes}</td>
            <td class="text-center hidden-xs">{$vo.uri}</td>
            <td class="text-center hidden-xs">{$vo.createdtime}</td>
            <td class="text-center">
              <button type="button" class="btn btn-danger btn-xs delete" data-id="{$vo.id}" data-placement="left"><i class="fa fa-trash"></i></button>
            </td>
          </tr>
          </volist>
          </tbody></table>
      </div>
      <!-- /.box-body -->
      <div class="box-footer clearfix">
        <div class="pull-left">

          <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#modal" data-backdrop="static" data-url="{:U('Admin/CourseMaterial/uploadModal', array('course_id' => $course['id']))}">
            <i class="glyphicon glyphicon-open"></i> 上传资料
          </button>

          <span id="deleteAll" class="btn btn-warning btn-sm" data-placement="top">批量删除</span>
        </div>
        <div class="pull-right">
          {$page}
        </div>
      </div>

    </div>

  </section>

</block>

<block name="footer">
  <div id="modal" class="modal fade">
  </div>
</block>

<block name="script">
  <script type="text/javascript">
    seajs.use('/Public/js/admin/CourseMaterial/index.js')
  </script>
</block>
