<extend name="Common:layout-admin"/>

<block name="content">
  <!-- content-header start -->
  <section class="content-header">
    <h1>课程管理<small></small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="{:U('Admin/Index/index')}"><i class="fa fa-home"></i> 后台首页</a></li>
      <li class="active"><i class="fa fa-golbe"></i> 查看课程</li>
    </ol>
  </section>
  <!-- content-header end -->
  <section class="content">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">课程列表</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <table class="table table-bordered table-hover v-center">
          <tbody><tr>
            <th class="text-center">
              <input id="checkall" type="checkbox" />
            </th>
            <th class="text-center">ID</th>
            <th class="text-center">课程名称</th>
            <th class="text-center">连载状态</th>
            <th class="text-center hidden-xs">学员数</th>
            <th class="text-center hidden-xs">状态</th>
            <th class="text-center hidden-xs">创建者</th>
            <th class="text-center">操作</th>
          </tr>
          <volist name="data" id="vo">
          <tr>
            <td class="text-center">
              <input name="check" type="checkbox" value="{$vo.id}"/>
            </td>
            <td class="text-right">{$vo.id}</td>
            <td>{$vo.title}</td>
            <td class="text-center">{$vo.serializemode}</td>
            <td class="text-center hidden-xs">{$vo.studentnum}</td>
            <td class="text-center hidden-xs">{$vo.statustext}</td>
            <td class="text-center hidden-xs">{$vo.createduser}</td>
            <td class="text-center">
              <div class="btn-group btn-group-sm">
                <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#modal" data-url="{:U('Admin/Course/edit', array('course_id' => $vo['id']))}">编辑课程</button>
                <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                  <span class="caret"></span>
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                  <li><a href="{:U('Admin/CourseLesson/index', array('course_id' => $vo['id']))}"><i class="fa fa-file-video-o"></i>  课时管理</a></li>
                  <li><a href="{:U('Admin/CourseMaterial/listByCourseId', array('course_id' => $vo['id']))}"><i class="fa fa-file"></i>  文件管理</a></li>
                  <li><a href="{:U('Admin/CourseLesson/index', array('course_id' => $vo['id']))}"><i class="fa fa-user"></i>  学员管理</a></li>
                  <li class="divider"></li>
                  <switch name="vo.status">
                  <case value="published">
                  <li><a class="ajax-op" href="javascript:" data-url="{:U('Admin/Course/publish', array('course_id' => $vo['id'], 'published' => 'closed'))}"><i class="fa fa-times-circle-o"></i>  关闭课程</a></li>
                  </case>
                  <default />
                  <li><a class="ajax-op" href="javascript:" data-url="{:U('Admin/Course/publish', array('course_id' => $vo['id'], 'published' => 'published'))}"><i class="fa fa-check-circle-o"></i>  发布课程</a></li>
                  </case>
                  </switch>
                  <li><a class="ajax-op" href="javascript:" data-url=""><i class="fa fa-thumbs-up"></i>  推荐课程</a></li>
                </ul>
              </div>
            </td>
          </tr>
          </volist>
          </tbody></table>
      </div>
      <!-- /.box-body -->
      <div class="box-footer clearfix">
        <div class="pull-left">
          <span class="btn btn-default btn-sm" data-toggle="modal" data-target="#modal" data-url="{:U('Admin/Course/add')}"><i class="fa fa-plus"></i> 添加课程</span>
          <span id="deleteAll" class="btn btn-warning btn-sm" data-placement="top">批量删除</span>
        </div>
        <div class="pull-right">
          {$page}
        </div>
      </div>

    </div>

  </section>

</block>

<block name="footer">
  <div id="modal" class="modal fade" role="dialog">
  </div>
</block>

<block name="script">
  <script type="text/javascript">
    seajs.use('/Public/js/admin/Course/index.js')
  </script>
</block>
