<extend name="Common:layout"/>

<block name="header"></block>


<block name="content">
  <div class="course-learn">
    <div class="course-learn-dashboard course-learn-dashboard-open" id="course-learn-dashboard">
      <div class="dashboard-content">
        <a class="btn btn-warning back" href="/Home/Course/intro/course_id/{$lesson.courseid}"><span class="fa fa-chevron-left"></span> 返回课程</a>
        <div class="dashboard-head">
          <span class="lesson-title">课时{$lesson.number}：{$lesson.title}</span>
        </div>
        <div class="dashboard-body">
          <eq name="lesson.type" value="video">
          <div id="lesson-video-content">
          </div>
          </eq>
          <eq name="lesson.type" value="text">
          <div class="lesson-content lesson-content-text" id="lesson-text-content">
            <div class="content">{$lesson.content}</div>
          </div>
          </eq>
        </div>
        <div class="dashboard-foot clearfix">
          <div class="pull-right">
            <button class="btn btn-warning" data-role="finish-lesson" style=""><span class="fa fa-square-o"></span> 学过了</button>
          </div>
        </div>
      </div>
      <div class="toolbar" id="dashboard-toolbar">
        <ul class="toolbar-nav">
          <li class="active"><a href="#toolbar-lesson-list" role="tab" data-toggle="tab" href=""><i class="fa fa-list"></i>目录</a></li>
          <li><a href="#toolbar-files" role="tab" data-toggle="tab" href=""><i class="fa fa-cloud-download"></i>资料</a></li>
          <li><a href="#toolbar-topic" role="tab" data-toggle="tab" href=""><i class="fa fa-question-circle"></i>问答</a></li>
        </ul>
        <div class="toolbar-content">
          <div class="tab-pane active" id="toolbar-lesson-list"></div>
          <div class="tab-pane" id="toolbar-files">
            <empty name="files">
               <h5 class="alert alert-warning">暂无课时资料</h5>
            <else />
              <h4 class="">课时资料</h4>
              <ul>
                <volist name="files" id="file">
                  <li><a href="/Home/File/download/id/{$file.fileid}" target="_blank">{$file.title}</a><small> [{$file.size|format_bytes}]</small></li>
                </volist>
              </ul>
            </empty>
          </div>
          <div class="tab-pane" id="toolbar-topic">
            <div class="question-list-pane">
              <div data-role="list-pane" >
                <form id="lesson-question-form" method="post" action="/CourseLesson/addQuestion/course_id/{$lesson.courseid}/lesson_id/{$lesson.id}">

                  <div class="form-group">
                    <div class="controls">
                      <input type="text" id="question_title" name="question[title]" required="required" class="form-control expand-form-trigger" placeholder="我要提问" data-display="标题" />
                    </div>
                  </div>

                  <div class="form-group detail-form-group">
                    <div class="controls">
                      <textarea id="question_content" name="question[content]" required="required" class="form-control" rows="5" placeholder="详细描述你的问题" data-image-upload-url=""></textarea>
                    </div>
                  </div>

                  <div class="form-group detail-form-group">
                    <div class="controls clearfix">
                      <button class="btn btn-warning btn-sm pull-right" type="submit">提问</button>
                      <button class="btn btn-link btn-sm pull-right" type="button">取消</button>
                    </div>
                  </div>

                  <input type="hidden" id="question_courseId" name="question[courseId]" />
                  <input type="hidden" id="question_lessonId" name="question[lessonId]" />
                </form>

                <ul class="media-list thread-list-small" data-role="list">
                  <li class="text-center">此课时还没有问题</li>
                </ul>

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</block>

 <block name="footer"></block>

 <block name="script">
  <script type="text/javascript">
    var lesson = {};
    lesson.id = '{$lesson.id}';
    lesson.type = '{$lesson.type}';
    lesson.courseId = '{$lesson.courseid}';
    seajs.use('/Public/js/Home/CourseLesson/learn.js')
  </script>
</block>