<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">管理中心</li>
      <!-- 一级菜单 -->
      <volist name="sidebar" id="item">
        <li class="treeview <in name='item.id' value='$path'>active</in>">
          <a href="{:U($item['url'])}">
            <i class="fa fa-{$item['icon']}"></i>
            <span>{$item.title}</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
          </a>
          <!-- 二级菜单 -->
          <notempty name="item">
            <ul class="treeview-menu">
              <volist name="item['children']" id="subitem">
                <li class="<in name='subitem.id' value='$path'>active</in>"><a href="{:U($subitem['url'])}"><i class="fa fa-circle-o"></i>{$subitem.title}</a></li>
              </volist>
            </ul>
          </notempty>

        </li>
      </volist>
      
    </ul>
  </section>
</aside>