<extend name="Common:layout-admin"/>

<block name="content">

  <!-- content-header start -->
  <section class="content-header">
    <h1>用户管理<small></small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="{:U('Admin/Index/index')}"><i class="fa fa-home"></i> 后台首页</a></li>
      <li class="active"><i class="fa fa-golbe"></i> 用户管理</li>
    </ol>
  </section>
  <!-- content-header end -->

  <section class="content">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">用户管理列表</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <table class="table table-bordered table-hover">
          <tbody><tr>
            <th class="text-center">
              <input id="checkall" type="checkbox" />
            </th>
            <th class="text-center">用户ID</th>
            <th class="text-center">用户名</th>
            <th class="text-center">用户角色</th>
            <th class="text-center">Email</th>
            <th class="text-center">注册IP</th>
            <th class="text-center">注册时间</th>
            <th class="text-center">最后登录时间</th>
            <th class="text-center">操作</th>
          </tr>
          <volist name="data" id="vo">
            <tr>
              <td class="text-center">
                <input name="check" type="checkbox" value="{$vo.id}"/>
              </td>
              <td class="text-right">{$vo.id}</td>
              <td class="text-center">{$vo.nickname}</td>
              <td>{$vo.roles}</td>
              <td>{$vo.email}</td>
              <td class="text-center">{$vo.loginip}</td>
              <td class="text-center">{$vo.createdtime}</td>
              <td class="text-center">{$vo.logintime}</td>
              <td class="text-center">
                <span class="btn btn-warning btn-xs" data-userid="{$vo.id}"><i class="fa fa-edit"></i> 编辑</span>
                <span class="btn btn-danger btn-xs delete" data-placement="left" data-userid="{$vo.id}"><i class="fa fa-trash"></i> 删除</span>
              </td>
            </tr>
          </volist>
          </tbody>
        </table>
      </div>
      <!-- /.box-body -->
      <div class="box-footer clearfix">
        <div class="pull-left">
          <span id="deleteAll" class="btn btn-danger btn-sm" data-placement="top"><i class="fa fa-trash"></i>全部删除</span>
        </div>
        <div class="pull-right">
          {$page}
        </div>
      </div>

    </div>
  </section>

</block>

<block name="script">
  <script type="text/javascript">
    seajs.use('/Public/js/admin/user/index.js')
  </script>
</block>