<extend name="Common:layout"/>

<block name="content">
  <div class="form">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>用户登录</h3>
      </div>
      <div class="panel-body">
        <form id="login-form" action="{:U('/Admin/Login/login')}" method="post">
          <input type="hidden" name="return_url" value="{$returnUrl}">
          <div class="form-group mb40">
            <label class="control-label" for="form_username">用户名：</label>
            <div class="controls">
              <input class="form-control" type="text" name="username" id="form_username">
              <div class="help-block"></div>
            </div>
          </div>
          <div class="form-group mb40">
            <label class="control-label" for="form_password">密码：</label>
            <div class="controls">
              <input class="form-control" type="password" name="password" id="form_password">
              <div class="help-block"></div>
            </div>
          </div>
          <div class="form-group mb40">
            <!--<label class="control-label" for="form_password"></label>-->
            <div class="controls checkbox">
              <label>
                <input type="checkbox" name="remember_me"> 记住登录 <small>(默认记住登录7天)</small>
              </label>
              <!--<div class="help-block"></div>-->
            </div>
          </div>
          <div class="form-group mb40">
            <button id="submit" class="btn btn-block btn-success">登录</button>
            <div class="help-block msg"></div>
          </div>
        </form>
      </div>
    </div>
 
  </div>
</block>


<block name="script">
  <script type="text/javascript">
      var app = {}
          app.httpHost = 'http://localhost/'
      window.app = app
      
    seajs.use('/Public/js/login.js')
  </script>
</block>